{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
	<table>
	{% for game in games|dictsort:'name' %}
		<tr>
			<td>{{ game.name}}</td>

			{% if game.release == "Out Now" %}
				<td class="outnow">{{ game.release }}</td>

			{% else %}
				<td>{{ game.release }}</td>

			{% endif %}

		</tr>
	{% endfor %}
	</table>

	<h2 style="color:dodgerblue;font-family:Sanchez">Add Game</h2>
	<form action="post_url/" method="post">
		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" value="Submit" >
	</form>

{% endblock %}