{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

	<table>
	{% for show in shows|dictsort:'name' %}

		{% if show.seen %}
			<tr><td>{{ show.name }}</td></tr>
		{% else %}
			<tr><td data-seen="notSeen">{{ show.name }}</td></tr>
		{% endif %}

	{% endfor %}
	</table>

	<script>
		var tds = document.getElementsByTagName("td");
		var len = tds.length;
		for (var i = 0; i < len; i++){
			current = tds[i];
			var isSeen = current.getAttribute("data-seen");
			if (isSeen){
				current.setAttribute("style", "color:salmon");	
			}
		}
	</script>

{% endblock %}