{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<title>Shows and Games</title>
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Orbitron|Sanchez" rel="stylesheet">
</head>
<body>
	<h1>Shows and Games</h1>
	<a href="/shows">Shows</a>
	<a href="/">Games</a>
	<table>
	{% for show in shows|dictsort:'name' %}

		{% if show.seen %}
			<tr><td>{{ show.name }}</td></tr>
		{% else %}
			<tr><td style="color:salmon">{{ show.name }}</td></tr>
		{% endif %}

	{% endfor %}
	</table>

</body>       
</html>